USE [master]
GO
/****** Object:  Database [DoAnTotNghiep_Temp_2]    Script Date: 5/18/2019 11:35:56 AM ******/
CREATE DATABASE [DoAnTotNghiep_Temp_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAnTotNghiep_Temp_2', FILENAME = N'E:\SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DoAnTotNghiep_Temp_2.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DoAnTotNghiep_Temp_2_log', FILENAME = N'E:\SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DoAnTotNghiep_Temp_2_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAnTotNghiep_Temp_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAnTotNghiep_Temp_2]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/18/2019 11:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NULL,
	[Pass] [varchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Roles] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTDT]    Script Date: 5/18/2019 11:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDT](
	[Ma_CTDT] [varchar](255) NOT NULL,
	[Ten_CTDT] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_CTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 5/18/2019 11:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[ID_Diem] [int] IDENTITY(1,1) NOT NULL,
	[PT_KT] [int] NULL,
	[PT_Thi] [int] NULL,
	[Thi_L1] [float] NULL,
	[Thi_L2] [float] NULL,
	[Thi_L3] [float] NULL,
	[TK10] [float] NULL,
	[TKCH] [varchar](10) NULL,
	[KQ1] [nvarchar](100) NULL,
	[KQ] [nvarchar](100) NULL,
	[Ghi_Chu] [nvarchar](255) NULL,
	[ID_Mon] [int] NULL,
	[Ma_SV] [varchar](100) NULL,
	[Pre] [float] NULL CONSTRAINT [df_Pre]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[ID_Diem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCKI]    Script Date: 5/18/2019 11:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCKI](
	[Ma_HK] [varchar](10) NOT NULL,
	[Ten_HK] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_HK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 5/18/2019 11:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[Ma_Khoa] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Khoa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Khoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lich]    Script Date: 5/18/2019 11:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lich](
	[ID_Lich] [int] IDENTITY(1,1) NOT NULL,
	[Ma_MH] [varchar](100) NULL,
	[Ten_MH] [nvarchar](255) NULL,
	[Lop] [varchar](255) NULL,
	[Thu] [varchar](100) NULL,
	[Phong] [varchar](100) NULL,
	[Thoi_Gian] [varchar](255) NULL,
	[Ma_Khoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Lich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/18/2019 11:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[Ma_Lop] [varchar](100) NOT NULL,
	[Ten_Lop] [nvarchar](255) NULL,
	[Bat] [nvarchar](100) NULL,
	[Ma_CTDT] [varchar](255) NULL,
	[Ma_Khoa] [int] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MON]    Script Date: 5/18/2019 11:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MON](
	[ID_Mon] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Mon] [varchar](100) NULL,
	[Ten_Mon] [nvarchar](255) NULL,
	[So_TC] [int] NULL,
	[TC_LyThuyet] [int] NULL,
	[TC_ThucHanh] [int] NULL,
	[Ghi_Chu] [nvarchar](255) NULL,
	[Ma_CTDT] [varchar](255) NULL,
	[Ma_HK] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Mon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 5/18/2019 11:35:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[Ma_SV] [varchar](100) NOT NULL,
	[Ten_SV] [nvarchar](255) NULL,
	[Dia_Chi] [nvarchar](255) NULL,
	[SDT] [varchar](12) NULL,
	[Ma_Lop] [varchar](100) NULL,
	[stt] [int] NULL CONSTRAINT [df_stt]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[Ma_SV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Email], [Pass], [Name], [Roles]) VALUES (1, N'110115012@sv.tvu.edu.vn', N'adminqd', N'Quốc Định', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
INSERT [dbo].[CTDT] ([Ma_CTDT], [Ten_CTDT]) VALUES (N'1103', N'CTDT_1103')
INSERT [dbo].[CTDT] ([Ma_CTDT], [Ten_CTDT]) VALUES (N'1234', N'CTDT_1234')
INSERT [dbo].[CTDT] ([Ma_CTDT], [Ten_CTDT]) VALUES (N'1625', N'CTDT_1625')
SET IDENTITY_INSERT [dbo].[DIEM] ON 

INSERT [dbo].[DIEM] ([ID_Diem], [PT_KT], [PT_Thi], [Thi_L1], [Thi_L2], [Thi_L3], [TK10], [TKCH], [KQ1], [KQ], [Ghi_Chu], [ID_Mon], [Ma_SV], [Pre]) VALUES (711, 0, 100, 7, 0, 0, 7, N'B', N'Đạt', N'Đạt', N'  ', 165, N'110117021', NULL)
INSERT [dbo].[DIEM] ([ID_Diem], [PT_KT], [PT_Thi], [Thi_L1], [Thi_L2], [Thi_L3], [TK10], [TKCH], [KQ1], [KQ], [Ghi_Chu], [ID_Mon], [Ma_SV], [Pre]) VALUES (712, 0, 100, 6.3, 0, 0, 6.3, N'C', N'Đạt', N'Đạt', N'  ', 159, N'110117021', NULL)
INSERT [dbo].[DIEM] ([ID_Diem], [PT_KT], [PT_Thi], [Thi_L1], [Thi_L2], [Thi_L3], [TK10], [TKCH], [KQ1], [KQ], [Ghi_Chu], [ID_Mon], [Ma_SV], [Pre]) VALUES (713, 0, 100, 7.3, 0, 0, 7.3, N'B', N'Đạt', N'Đạt', N'  ', 163, N'110117021', NULL)
GO
SET IDENTITY_INSERT [dbo].[DIEM] OFF
INSERT [dbo].[HOCKI] ([Ma_HK], [Ten_HK]) VALUES (N'1', N'Học Kì 1')
INSERT [dbo].[HOCKI] ([Ma_HK], [Ten_HK]) VALUES (N'2', N'Học Kì 2')
INSERT [dbo].[HOCKI] ([Ma_HK], [Ten_HK]) VALUES (N'3', N'Học Kì 3')
SET IDENTITY_INSERT [dbo].[Khoa] ON 

INSERT [dbo].[Khoa] ([Ma_Khoa], [Ten_Khoa]) VALUES (1, N'Kỹ Thuật Công Nghệ')
INSERT [dbo].[Khoa] ([Ma_Khoa], [Ten_Khoa]) VALUES (2, N'Y - Dược')
INSERT [dbo].[Khoa] ([Ma_Khoa], [Ten_Khoa]) VALUES (3, N'Kinh Tế -Luật')
SET IDENTITY_INSERT [dbo].[Khoa] OFF
SET IDENTITY_INSERT [dbo].[Lich] ON 

INSERT [dbo].[Lich] ([ID_Lich], [Ma_MH], [Ten_MH], [Lop], [Thu], [Phong], [Thoi_Gian], [Ma_Khoa]) VALUES (841, N'340184', N'Thủy nông đại cương', N'VA18NN11', N'6', N'B31.307', N'27/05/2019--07/07/2019', 4)
INSERT [dbo].[Lich] ([ID_Lich], [Ma_MH], [Ten_MH], [Lop], [Thu], [Phong], [Thoi_Gian], [Ma_Khoa]) VALUES (842, N'340191', N'Di truyền thực vật', N'VA18NN11', N'6', N'B31.307', N'15/07/2019--25/08/2019', 4)
INSERT [dbo].[Lich] ([ID_Lich], [Ma_MH], [Ten_MH], [Lop], [Thu], [Phong], [Thoi_Gian], [Ma_Khoa]) VALUES (843, N'340184', N'Thủy nông đại cương', N'VA18NN11', N'6', N'B31.307', N'27/05/2019--07/07/2019', 4)
GO
SET IDENTITY_INSERT [dbo].[Lich] OFF
INSERT [dbo].[LOP] ([Ma_Lop], [Ten_Lop], [Bat], [Ma_CTDT], [Ma_Khoa], [status]) VALUES (N'DA15QTM', N'DA15QTM', N'DH', N'1234', 1, 1)
INSERT [dbo].[LOP] ([Ma_Lop], [Ten_Lop], [Bat], [Ma_CTDT], [Ma_Khoa], [status]) VALUES (N'DA15TT', N'DA15TT', N'DH', N'1753', 1, 0)
INSERT [dbo].[LOP] ([Ma_Lop], [Ten_Lop], [Bat], [Ma_CTDT], [Ma_Khoa], [status]) VALUES (N'DA16CKC', N'DA16CKC', N'DH', N'1234', 1, 1)
SET IDENTITY_INSERT [dbo].[MON] ON 

INSERT [dbo].[MON] ([ID_Mon], [Ma_Mon], [Ten_Mon], [So_TC], [TC_LyThuyet], [TC_ThucHanh], [Ghi_Chu], [Ma_CTDT], [Ma_HK]) VALUES (1, N'110001', N'Đại số tuyến tính', 2, 15, 30, N'', N'735', N'1')
INSERT [dbo].[MON] ([ID_Mon], [Ma_Mon], [Ten_Mon], [So_TC], [TC_LyThuyet], [TC_ThucHanh], [Ghi_Chu], [Ma_CTDT], [Ma_HK]) VALUES (2, N'110003', N'Toán rời rạc', 2, 15, 30, N'', N'735', N'1')
INSERT [dbo].[MON] ([ID_Mon], [Ma_Mon], [Ten_Mon], [So_TC], [TC_LyThuyet], [TC_ThucHanh], [Ghi_Chu], [Ma_CTDT], [Ma_HK]) VALUES (3, N'180000', N'Những NL CB của CN Mác - Lênin', 5, 75, 0, N'', N'735', N'1')
GO
SET IDENTITY_INSERT [dbo].[MON] OFF
INSERT [dbo].[SINHVIEN] ([Ma_SV], [Ten_SV], [Dia_Chi], [SDT], [Ma_Lop], [stt]) VALUES (N'110102232', N'110102232', NULL, NULL, N'DA16CKC', 1)
INSERT [dbo].[SINHVIEN] ([Ma_SV], [Ten_SV], [Dia_Chi], [SDT], [Ma_Lop], [stt]) VALUES (N'110115001', N'Nguyễn Nhật An', NULL, NULL, N'DA15TT', 0)
INSERT [dbo].[SINHVIEN] ([Ma_SV], [Ten_SV], [Dia_Chi], [SDT], [Ma_Lop], [stt]) VALUES (N'110115005', N'Nguyễn Khánh Duy', NULL, NULL, N'DA15TT', 0)
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([ID_Mon])
REFERENCES [dbo].[MON] ([ID_Mon])
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([Ma_SV])
REFERENCES [dbo].[SINHVIEN] ([Ma_SV])
GO
ALTER TABLE [dbo].[Lich]  WITH CHECK ADD FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([Ma_CTDT])
REFERENCES [dbo].[CTDT] ([Ma_CTDT])
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[MON]  WITH CHECK ADD FOREIGN KEY([Ma_CTDT])
REFERENCES [dbo].[CTDT] ([Ma_CTDT])
GO
ALTER TABLE [dbo].[MON]  WITH CHECK ADD FOREIGN KEY([Ma_HK])
REFERENCES [dbo].[HOCKI] ([Ma_HK])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[LOP] ([Ma_Lop])
GO
USE [master]
GO
